.about-page {
  text-align: center;
  padding: 30px 20px;
  color: #7fa37a;
}

.about-page h1 {
  font-family: cursive;
  font-size: 30px;
}

.about-page p {
  font-size: 17px;
  max-width: 500px;
  margin: 0 auto;
  
  font-family: cursive;
  line-height: 1.8;
}